# Archivos de configuración de IDE y editores
**/.idea/
# **/.vscode/
/.vscode/
project/backend/.vscode/
/project/**/.env
*.sublime-project
*.sublime-workspace

# Dependencias de Node.js (Vue.js)
**/node_modules/
**/.pnpm-store/
**/.vite/
**/pnpm-lock.yaml

# Dependencias de PHP (Symfony)
**/vendor/

# Archivos de entorno Python (Django)
__pycache__/
*.py[cod]
*$py.class
env/
venv/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt

# Archivos de log y caché
*.log
*.cache
*.bak
*.pdf
*.joblib

# Archivos de migración de Django
db.sqlite3
db.sqlite3-journal

# Archivos de configuración específicos del sistema
*.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Archivos de compilación de Java (Spring Boot)
# **/target/
project/backend/symfony/.env.test
project/backend/springboot/target/
project/consumer/target/debug/
project/consumer/target/release/.fingerprint/
project/consumer/target/release/deps/
project/consumer/target/release/.cargo-lock
project/consumer/target/release/rabbit_consumer.d
project/consumer/target/.rustc_info.json
project/consumer/target/CACHEDIR.TAG
!project/consumer/target/release/rust_micro_app

**/out/
*.class
*.jar
*.war
*.ear
**/build/
**/volumes/

# Archivos de configuración de Maven (Java)
.mvn/
**/pom.xml.versionsBackup
**/pom.xml.releaseBackup

# Archivos de configuración de Gradle (Java)
.gradle/

# Archivos temporales del sistema
*.swp
*~

*.local
