version: '3.9'

services:
    rust_consumer:
        build:
            context: .
            dockerfile: devops/dockerfiles/broker/Consumer.Dockerfile
        container_name: rust_consumer
        environment:
          AMQP_ADDR: "amqp://admin:your_password@rabbitmq:5672/%2f"
          OPENSSL_DIR: "/usr"
        volumes:
            - ./project/consumer:/app/src
        # depends_on:
        #     rabbitmq:
        #         condition: service_healthy
        networks:
            - app_network
        restart: always

    symfony_backend:
        build:
            context: .
            dockerfile: devops/dockerfiles/backend/Symfony.Dockerfile
        container_name: symfony_backend
        ports:
            - "9000:9000"
        volumes:
            - ./project/backend/symfony:/var/www/html
            - ./conf/symfony/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini:delegated
        command: >
            sh -c "composer install && php-fpm"
        networks:
            - app_network
        extra_hosts:
            - "host.docker.internal:host-gateway"

    django_backend:
        build:
            context: .
            dockerfile: devops/dockerfiles/backend/Django.Dockerfile
        container_name: django_backend
        ports:
            - "8000:8000"
        volumes:
            - ./project/backend/django:/app:z
            - ./conf/django/data:/app/data:z
        networks:
            - app_network

    nginx_proxy:
        build:
            context: .
            dockerfile: devops/dockerfiles/proxy/Nginx.Dockerfile
        container_name: nginx_proxy
        #    volumes:
        #      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
        volumes:
            - ./conf/nginx:/src
        ports:
            - "80:80"
        depends_on:
            - symfony_backend
            - django_backend
            - rust_consumer
        networks:
            - app_network
networks:
    app_network:
        driver: bridge
