// Dark Theme (inspirado en Tokyo Night)
$color-bg-dark: #1a1b26;
$color-text-dark: #c0caf5;
$color-primary-dark: #7aa2f7;

// Standard Theme
$color-bg-light: #ffffff;
$color-text-light: #2c3e50;
$color-primary-light: #3498db;

// Default Variables
$color-bg: $color-bg-light;
$color-text: $color-text-light;
$color-primary: $color-primary-light;

@mixin dark-theme {
  $color-bg: $color-bg-dark;
  $color-text: $color-text-dark;
  $color-primary: $color-primary-dark;
}
