apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-backend
  labels:
    app: fastapi
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
      - name: fastapi
        image: linuxlite20/fastapi-chatbot:0.0.2
        ports:
        - containerPort: 8000
        envFrom:
        - configMapRef:
            name: fastapi-config
